<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask DataSpark App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>DataSpark App</h1>
			<h3>Table Names</h3>
            <p class="lead"></p>
            <form action="/action_page.php">
				<select name="Geographies" multiple>
					<option value="All">Table 1</option>
					<option value="SA">Table 2</option>
					<option value="NSW">Table 3</option>
					<option value="VIC">Table 4</option>
				</select>
				<br><br>
			<a class="btn btn-lg btn-success" href="index.html" role="button">Start Over</a>
			</form>
        </div>
 
        
        <footer class="footer">
            <p>&copy; A Data Provision Company (2018)</p>
        </footer>
 
    </div>
</body>
 
</html>